.home-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.home-main img{
    height: 300px;
}

.buttons-container{
    display: flex;
    flex-direction: row;
    gap: 50px;
}